body {
    background-color: rgb(41, 41, 41);
}

img {
    display: block;
    height: 500px;
    width: auto;
}

h1 {
    text-align: center;
    color: lime;
    font-family: Georgia, Garamond, Verdana, Arial;
    text-decoration: underline;
}

h3,
li,
p {
    color:whitesmoke;
    text-justify: inter-word;
    text-align: justify;
}

h3 {
    font-family: Georgia, Garamond, Verdana, Arial;
    font-weight: bold;
}

li,
p {
    font-family: "Lucida Console", Garamond, Verdana, Arial;
}

.mainRecipeImage{
    margin: -32.7em auto 0;
    border: 2px solid grey;
}

#mainRecipeList{
    text-align: center;
}

#mainRecipeList ul{
    display: inline-block;
    text-align: left;
}