body {
    background-color: rgb(41, 41, 41);
}

img {
    display: block;
    height: 500px;
    width: auto;
}

h1 {
    margin: 0 auto;
    width: 20em;
    text-align: center;
    color: lime;
    border: 8px double green;
    background-color: black;
    font-family: Georgia, Garamond, Verdana, Arial;
    text-decoration: underline;
}

h3,
li,
p {
    color:whitesmoke;
    text-align: justify;
    margin: 0 auto;
    width: 1000px;
}

h3 {
    font-family: Georgia, Garamond, Verdana, Arial;
    font-weight: bold;
    color:darkgreen;
    text-align: center;
    border: 8px double green;
    background-color: lightgrey;
    margin-top: 2em;
}

li,
p {
    font-family: "Lucida Console", Garamond, Verdana, Arial;
}

.mainRecipeImage{
    margin: -32.7em auto 0;
    border: 2px solid grey;
}

#mainRecipeList{
    width: 35em;
    margin: 0 auto;
}

#mainRecipeList ul li{
    margin: 16px;
    width: 30em;
    border: 8px double green;
    background-color: lightgrey;
    text-align: center;
}